apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mlflow-app
  namespace: infra-tools
spec:
  project: default

  source:
    repoURL: https://community-charts.github.io/helm-charts
    chart: mlflow
    targetRevision: 1.8.0

    helm:
      values: |
        replicaCount: 1

        backendStore:
          database:
            enabled: false

        artifactStore:
          type: local
          local:
            path: /mlflow/artifacts

        persistence:
          enabled: false

        service:
          type: ClusterIP
          port: 5000

        resources:
          limits:
            cpu: 300m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 256Mi

  destination:
    server: https://kubernetes.default.svc
    namespace: application

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
